

/*======================================
//--//-->   STYLES GENERALES
======================================*/

body {
    font-family: 'Poppins', sans-serif;
    color: #555555;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
i {
    font-style: normal;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
a:hover{text-decoration: none;}
ul li{
  list-style-type: none;
}
h4{font-size: 18px;}
p{margin: 0;font-size: 15px;}
section{/* margin: 100px 0; */}
.sec-title{padding: 70px 0 20px 0;}
.link-two {
    color: #000000;
    transition: all .5s ease;
}

.link-two:hover {
    text-decoration: underline;
    color: #000000;
}

.link-one {
    color: #000000;
    transition: all .5s ease;
}

.link-one:hover {
    color: #000000;
    text-decoration: none;
}

.link-icon {
    color: #000000;
    font-weight: 500;
}

.link-icon span {
    font-size: 14px;
    padding-left: 4px;
    vertical-align: middle;
}

.link-a {
    color: #ffffff;
    text-decoration: none;
}

.link-a:hover {
    color: #ffffff;
    text-decoration: none;
}

.link-a span {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
}
.mr-30{margin-bottom: 30px;}
.fr-title h4{font-weight: 300;font-size:18px;}
.fr-title h3{font-size: 25px;}
.text-brand {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
}
.txt-blue{color:#0242be;}
.txt-blue-light{color:#34c3f9;}
.txt-small{
      font-size: 22px;
    color: #34c3f9;
}
.txt-lever1{
  color: #000;
    font-weight: 300;
    font-size: 32px;
}
.txt-lever2{
      font-size: 45px;
}
.txt-lever3{
      font-size: 60px;
}
.txt-big{
  font-size: 26px;
    font-weight: bold;
    background: linear-gradient(-45deg, #5bf3fd, #143559);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.no-margin {
    margin: 0;
}
.big-txt{
  font-size: 20px;
  font-weight: 600;
}
.flex-display{
  align-items: center;
  display: flex;
}
.fr-btn img{width: 30px;margin-left: 10px;}
/* WORKFLOW */
.workflow {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 7% 0;
}
.workflow .wr-50{
  flex: 0 0 18%;
}
.workflow .fa{color:#2f669f;font-size: 25px;}
.wf-item{
      background: linear-gradient(to left, #42a8f0, #2d5c93);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    padding-top: 25px;
}
.workflow span{
    
}
/* DOCTOR */
.doc-info{
  margin-top: 20px;
  padding: 5px;
}
.doc-item{text-align: center}
.doctor{
  background: url("../img/bg02.png")no-repeat;
  background-position: left bottom;
  margin-bottom: 80px;
}
.doc-name{
  text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}
.doc-level{
  font-weight: 500;
  color: #34c3f9;
}
.doc-des{font-size: 15px;}
.doc-item{
       padding-bottom: 40px;
    background: #fff;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background: #fff;

}
.doc-img{
  background: #d7ecfa;
}
.doc-img img{
  width: 80%;
    padding-top: 20px;
    height: 250px;
    object-fit: contain;
}
/*--------------------------------------------------------------
#VIDEO
--------------------------------------------------------------*/

#video-popup-container {
  display:none;
  position: fixed;
  z-index: 996;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  top: 20%;
  background-color: #fff;
}

#video-popup-close {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 998;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  background-color: #000;
  line-height: 25px;
  color: #fff;
}

#video-popup-iframe-container {
  position: absolute;
  z-index: 997;
  width: 100%;
  padding-bottom: 56.25%;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: #000;
}

#video-popup-iframe {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
}

#video-popup-overlay {
  display: none;
  position: fixed;
  z-index: 995;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

#video-popup-close:hover {
  color: #DE0023;
}
.fr-video{padding:25px 35px;}
.fr-form i::before{
  border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
}
.fr-schedule{   
  margin-top: 17px;
    padding: 0 20px;
  }
.video-banner {
  display: block;
}
.video-img{
    position: relative;
}
.video-banner .video-banner-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.video-banner-headline {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  line-height: 1.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.045em;
}
@media (min-width: 641px) {
  .video-banner-headline {
    left: 2em;
    bottom: 2.75em;
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
.video-banner-icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  
  display: block;
  width: 2.5em;
  height: 2.5em;
  
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.0);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1.0);
	-ms-transform: translateX(-50%) translateY(-50%) scale(1.0);
	-o-transform: translateX(-50%) translateY(-50%) scale(1.0);
	transform: translateX(-50%) translateY(-50%) scale(1.0);
  
  -webkit-transition: 
		all 0.2s ease-out 0.05s;
	transition: 
		all 0.2s ease-out 0.05s;
}
@media (min-width: 641px) {
  .video-banner-icon-play {
    width: 3.5em;
    height: 3.5em;
  }
}
.video-banner-icon-play:hover {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1.2);
	-ms-transform: translateX(-50%) translateY(-50%) scale(1.2);
	-o-transform: translateX(-50%) translateY(-50%) scale(1.2);
	transform: translateX(-50%) translateY(-50%) scale(1.2);
  
  backgound: #330099;
}

.content {
  display: block;
  min-height: 100vh;
  max-width: 40rem;
  margin: 2.5rem auto;
  padding: 1.5rem;
}
@media (min-width: 641px) {
  .content {
    margin: 5.75rem auto;
    padding: 2.5rem;
  }
}

.content h1,
.content h2,
.content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #0D013D;
}
.content h1 {
  font-size: 3.25em;
  font-weight: 200;
  line-height: 1.0em;
  
  margin: 0 0 0.5rem 0;
}
@media (min-width: 641px) {
  .content h1 {
    font-size: 4em;
  }
}
.content h2 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.155em;
  
  margin-top: 3em;
}

/* buttons */
.content .button-group {
  margin-top: 1em;
}
.content .button {
  display: inline-block;
  padding: 1em 2em;
  min-width: 8em;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  border-radius: 1.5em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  
  /* button theme - secondary is default */
  background: #f0f0f0;
  color: #2B2B2B;
  
  -webkit-transition: 
		all 0.2s ease-out 0.05s;
	transition: 
		all 0.2s ease-out 0.05s;
}
.content .button ~ .button {
  margin-left: 0.5em;
}
.content .button:hover {
  background: #e5e5e5;
}
/* primary button overrides */
.content .button.primary {
  background: #E50055;
  color: #fff;
}
.content .button.primary:hover {
  background: #9D00E5;
}


/* video thumbnail grid */
.content .video-thumb-grid {
  position: relative;
  font-size: 0; /* collapse the white-space */
  width: calc(100% + 2rem);
  margin: 0 -1rem;
}
.content .video-thumb {
  display: inline-block;
  vertical-align: top;
  
  text-decoration: none;
  
  /* calculate the width, gutters, and aspect ratio */
  width: calc((100% - 4rem) / 2);
  height: 0;
  padding-top: calc(((100% - 4rem) / 2) * 0.5625); /* 16:9 calc */
  
  margin: 1rem 1rem; /* gutters */
  
  overflow: hidden; /* clipping */
  
  position: relative; /* enable positioning for inner content */
  
  font-size: 1rem; /* reset the font size */
  
  -webkit-transform: scale(1.0);
	transform: scale(1.0);
  box-shadow: 0 0 0 rgba(0,0,0,0.0);
  
  -webkit-transition: 
		all 0.2s ease-out 0.05s;
	transition: 
		all 0.2s ease-out 0.05s;
}
.content .video-thumb:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(13,1,61,0.35);
}
.content .video-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  
  /* position inside the 16:9 container */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  /* clipping for source images that are letterboxed */
  object-fit: cover;
  object-position: 50% 50%;
  
  background: #2b2b2b;
}


/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
}
.video-modal {
	overflow: hidden;
	position: fixed;
	opacity: 0.0;

  -webkit-transform: translate(500%,0%);
  transform: translate(500%,0%);

  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: transform 0s linear 0s;


  /* using flexbox for vertical centering */

  /* Flexbox display */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  /* Vertical alignment */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.video-modal .overlay {
  z-index: 0;
  background: rgba(13,1,61,0.82); /* overlay color */

  opacity: 0.0;

  -webkit-transition: opacity 0.2s ease-out 0.05s;
  transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;
  
	margin: 0 auto;

	overflow-y: visible;

	background: #000;
  
  width: calc(100% - 12em);
  height: 0;
  padding-top: calc((100% - 12em) * 0.5625); /* 16:9 calc */
}
 @media (min-aspect-ratio: 16/9) {
  .video-modal-content {
    width: 0;
    height: calc(100vh - 10em);
    padding-top: 0;
    padding-left: calc((100vh - 10em) * 1.7778); /* 16:9 calc */
  }
}

/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
	.video-modal-content {
		width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625); /* 16:9 calc */
	}
}

/* modal close button */
.close-video-modal {
	display: block;
    position: absolute;
    left: 0;
    top: -40px;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	background: #000;
	box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

.show-video-modal .video-modal {
	opacity: 1.0;

	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
	opacity: 1.0;
}
.show-video-modal .video-modal-content {
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}

/* schedule-form */
.fr-form{
  background: #ebebeb;
    height: auto;
    padding-bottom: 60px;
}
.schedule-form {
    position: relative;
    margin-top: -100px;
    z-index: 9;
    right: 0;
    left: 0;
    
    background: #ddd;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #5485e5;
    background: -webkit-linear-gradient(to left, #3f2b96, #a8c0ff);
    background: linear-gradient(to left, #42a8f0, #5485e5);
    color: #fff;
}

.fr-btn{
        background: #fff;
    background: -webkit-linear-gradient(to left, #3f2b96, #a8c0ff);
    background: linear-gradient(to left, #fff, #cadbf4);
    color: #212529;
    border: 0;
    padding: 10px;
    font-size: 18px;

}
.fr-txt{min-height: 150px;margin-top: 20px;}
.fr-txt i{float: left;    margin-right: 5px;}
.fr-txt i::before{
  font-size: 30px;
}
/* TAB CONTENT */
.tab-txt{
      margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  color: #fff;
  left: 5%;
  
}
/* PACKAGE CONTENT */

.package{
  background: url("../img/services/pack.jpg")no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  color: #fff;
  position: relative;
}
.pack-img{width: 80%;}
.pack-info{
      margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
nav > .nav.nav-tabs{
  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link{
    border-right: 1px solid #ddd !important;
  border:  none;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#898989;
    border: 1px solid #fff;
    border-radius:0;
    height: 115px;
}

nav > div a.nav-item.nav-link.active{
  background: -webkit-linear-gradient(to left, #42a8f0, #387dcb);
  background: linear-gradient(to left, #42a8f0, #387dcb);

}
.main-tab{
  background: url("../img/services/ser01.jpg") no-repeat center right;
    border-top: 1px solid #fff;
    position: relative;
    background-size: cover;
        height: 50vh;
}
.main-tab img{width: 100%;}
.news-bottom {margin-top: 20px;}
nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: linear-gradient(to left, #42a8f0, #5485e5);
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
/*------/ Nav Pills  /------*/

.nav-pills-a.nav-pills .nav-link {
    color: #000000;
    position: relative;
    font-weight: 600;
}

.nav-pills-a.nav-pills .nav-link.active {
    background-color: transparent;
}

.nav-pills-a.nav-pills .nav-link.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #2eca6a;
    z-index: 2;
}
/* NEWS CONTENT */

.news{background: #f3f3f3;padding-bottom: 100px;}
.news-top{display: flex;
 flex-wrap: wrap;}
.news i{
  color: #fff;
  font-size: 30px;
}
.news-right{
  background: linear-gradient(to bottom, #42a8f0, #377bc9);
  color: #fff;
}
.news-right h4{font-size: 18px;}
.news-right .news-img{
  height: 235px;
    object-fit: cover;
    width: 100%;
    padding: 20px;
}
.news-bottom-item{
  background: #316ba5;
    color: #fff;
    display: flex;
    padding: 20px 15px;
}
.news-bottom-item img{
      border: 4px solid #fff;
    height: 100px;
}
.news-bottom-info{margin-left: 10px;}
.news-bottom-info h5{font-size: 15px;}
.item-details{padding: 20px;}
.item-details h5{font-size: 18px;}
.item-details .btn-gradient{}
.news-info{padding:0 20px;padding-bottom: 75px;}
.news .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/* NEW LETTER */
.carousel{position: relative;}
.new-letter{background: linear-gradient(to left, #42a8f0, #5485e5);}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 65px;
  height: 45px;
  line-height: 50px;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center;
}
.owl-carousel .owl-next{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.owl-carousel .owl-prev{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.owl-carousel .owl-item{
  background: #fff;
}
.owl-carousel .owl-prev {
  left: 0px;
    background: #44a3ee !important;
}

.owl-carousel .owl-next {
  right: 0px;
  background: #44a3ee !important;
}

/*------/ Bg Image /------*/

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}


/*------/ List a /------*/

.list-a {
    display: inline-block;
    line-height: 2;
    padding: 0;
    list-style: none;
}

.list-a li {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 25px;
    padding-right: 5px;
}

.list-a li:before {
    content: '';
    width: 10px;
    height: 2px;
    position: absolute;
    background-color: #313131;
    top: 15px;
    left: 0;
}

.main-menu {
    display: flex;
}

.top-navbar {
    height: 35px;
    position: fixed;
    top: 0;
    z-index: 9999;
    right: 0;
    left: 0;
    background: #ebebeb;
    padding: 0 8%;
}
.top-navbar  img{width: 20px;margin-right: -10px;}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
.hero-text-image{
      position: absolute;
    bottom: 90px;
}
.text-lg-left{
      position: absolute;
    left: 30%;
    width: 40%;
    bottom: 100px;
    color: #fff;
}
.text-lg-left h4{font-size: 30px;}
.hero-section {
  background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url('../img/slide/slide01.jpg');
  position: relative;
        background-attachment: fixed;

}

.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -150px;
}

.hero-section .wave svg {
  width: 100%;
}

.hero-section,
.hero-section > .container > .row {
  height: 100vh;
  min-height: 880px;
}

.hero-section.inner-page {
  height: 60vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  margin-top: -120px;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero-section p {
  font-size: 18px;
  color: #fff;
}

.hero-section .iphone-wrap {
  position: relative;
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -50%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  width: 250px;
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}

.slider-main .owl-stage-outer{
  position: relative
}
.img-slider{
 width: auto !important;
    position: absolute;
    left: 10%;
    right: 0;
    bottom: 90px;
}
.sl-nav {
  display: inline;
}

.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.sl-nav li {
  cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
.sl-nav li:hover{
  font-weight: bold;
    color: #4fa8ee;
}
.sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}

.sl-nav li ul li span {
  padding-left: 5px;
}

.sl-nav li ul li span:hover, .sl-nav li ul li span.active {
  color: #146c78;
}

.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}

.flag-de {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==");
  background-size: cover;
  background-position: center center;
}

.flag-usa {
  background-size: cover;
  background-position: center center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=");
}

/*------/ Pagination-a /------*/

.pagination-a .pagination .page-link {
    margin: 0 .2rem;
    border-color: transparent;
    padding: .5rem .8rem;
    color: #000000;
}

.pagination-a .pagination .page-link:hover,
.pagination-a .pagination .page-link:active,
.pagination-a .pagination .page-link:focus {
    background-color: #2eca6a;
}

.pagination-a .pagination .page-link span {
    font-size: 1.2rem;
}

.pagination-a .pagination .next .page-link {
    padding: .4rem .9rem;
}

.pagination-a .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination-a .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination-a .pagination .page-item.disabled .page-link {
    padding: .4rem .9rem;
    color: #555555;
}

.pagination-a .pagination .page-item.active .page-link {
    background-color: #2eca6a;
}

.a {
    color: #2eca6a;
    font-size: 1.3rem;
}


/*------/ Icon Box /------*/

.icon-box .icon-box-icon {
    display: table-cell;
    vertical-align: top;
    font-size: 36px;
    color: #000000;
    width: 50px;
    padding-top: 8px;
}

.icon-box .icon-box-content {
    padding-top: 18px;
}


/*------/ Title /------*/

.title-wrap {
    padding-bottom: 4rem;
}

.title-a {
    font-size: 2.6rem;
    font-weight: 600;
}

.title-link {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1.2rem;
}

.title-link a {
    color: #313131;
}

.title-link span {
    font-size: 20px;
    padding-left: 4px;
    vertical-align: middle;
}

.title-box-d {
    padding-bottom: 1.8rem;
    margin-bottom: 1rem;
    position: relative;
}

.title-box-d .title-d {
    font-weight: 600;
    font-size: 2rem;
}

.title-box-d .title-d:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    background-color: #2eca6a;
    bottom: 20px;
    left: 0;
}


/*------/ Display Table & Table Cell /------*/

.display-table {
    width: 100%;
    height: 100%;
    display: table;
}

/* .table-cell {
        display: table-cell;
    vertical-align: bottom;
    padding-bottom: 12%;
} */


/*------/ Ul Resect /------*/

.ul-resect ul,
.list-a ul,
.box-comments ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}


/*------/ Overlay /------*/


.overlay {
    position: relative;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*------/ Owl carousel /------*/
.intro-title{
  position: absolute;
  bottom: 90px;
  left: 35%;
}
.owl-theme .owl-dots {
    text-align: center;
    margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 9px;
    margin: 5px 5px;
    background: #000000;
    border: 0px solid #000000;
    display: block;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    border-radius: 0px;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #2eca6a;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #2eca6a;
    width: 35px;
}

.owl-arrow .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
}

.owl-arrow .owl-nav .owl-prev,
.owl-arrow .owl-nav .owl-next {
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #000000;
}

.owl-arrow .owl-nav .owl-prev.disabled,
.owl-arrow .owl-nav .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #adadad;
}

.owl-arrow .owl-nav .owl-next {
    margin-left: 15px;
}

.nav-arrow-a .owl-arrow .owl-nav {
    font-size: 1.8rem;
    margin-top: -110px;
}

.nav-arrow-a .owl-arrow .owl-nav .owl-next {
    margin-left: 15px;
}

.nav-arrow-b .owl-arrow .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev,
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
    padding: .7rem 1.5rem !important;
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #ffffff;
    background-color: #2eca6a;
    opacity: .9;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
.nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #ffffff;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
.nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
    background-color: #26a356;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-next {
    margin-left: 0px;
}


/*------/ Socials /------*/

.socials-a .list-inline-item:not(:last-child) {
    margin-right: 25px;
}


/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #3f9de2;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}


/* Prelaoder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #2eca6a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*======================================
//--//-->   NAVBAR
======================================*/

.navbar {
    padding: .5rem 8%;
}

.top-navbar span {
    font-size: 13px;
    text-transform: lowercase;
    color: #000;
}

.top-navbar small {
      color: #44a3ee;
    font-size: 13px;
    font-weight: 600;
}

.top-navbar i {
  margin-right: 5px;
    font-size: 13px;
    color: #000;
}

.top-navbar i::before {
    color: #0a3f79;
    margin-right: 5px;
        font-size: 25px;
}
.top-navbar .fa::before{font-size: 15px;}
.top-right div{
  margin-left: 10px;
}
.main-logo {
    width: 100px;
    margin-right: 30px;
}

.hotline {
    float: right;
    position: absolute;
    right: 0;
    background: red;
    color: #ffff;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    padding-left: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 16px;
}
.hotline i::before{font-size:35px;padding: 0 10px;}
.navbar-default {
    transition: all .5s ease-in-out;
    background-color: #ffffff;
    margin-top: 35px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-default .nav-search {
    color: #000000;
    font-size: 1.5rem;
}

.navbar-default.navbar-reduce {
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-default.navbar-trans,
.navbar-default.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.navbar-default.navbar-trans .nav-item,
.navbar-default.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    margin-left: 0;
}
.specialist .nav-item  i::before{
  font-size: 40px;
 text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.specialist-list-item img{
  opacity: .7;
    width: 20px;

}
 .workflow-content i::before {
    font-size: 35px;
}

.arrow-ico::before{text-shadow: none !important;}
.navbar-default.navbar-trans .nav-link,
.navbar-default.navbar-reduce .nav-link {
    font-size: 14px;
    color: #2f629b;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;

}
.home-icon{
  color: #ffffff !important;
    background: linear-gradient(to left, #42a8f0, #2f639c);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 35px;
}

.home-icon:hover::before{
 background-color: transparent !important;
}

.navbar-default.navbar-trans .nav-link:hover,
.navbar-default.navbar-reduce .nav-link:hover {
 background: linear-gradient(-45deg, #3db3c5, #274685);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-default.navbar-trans .nav-link:hover:before,
.navbar-default.navbar-reduce .nav-link:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.navbar-default.navbar-trans .show>.nav-link:before,
.navbar-default.navbar-trans .active>.nav-link:before,
.navbar-default.navbar-trans .nav-link.show:before,
.navbar-default.navbar-trans .nav-link.active:before,
.navbar-default.navbar-reduce .show>.nav-link:before,
.navbar-default.navbar-reduce .active>.nav-link:before,
.navbar-default.navbar-reduce .nav-link.show:before,
.navbar-default.navbar-reduce .nav-link.active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default.navbar-trans .nav-link:before {
        background-color: #43a6ef;
}

.navbar-default.navbar-trans .nav-link:hover {
    color: #34c3f9;
}

.navbar-default.navbar-trans .show>.nav-link,
.navbar-default.navbar-trans .active>.nav-link,
.navbar-default.navbar-trans .nav-link.show,
.navbar-default.navbar-trans .nav-link.active {
    color: #34c3f9;
}

.navbar-default.navbar-reduce {
    transition: all .5s ease-in-out;
}


.navbar-default.navbar-reduce .show>.nav-link,
.navbar-default.navbar-reduce .active>.nav-link,
.navbar-default.navbar-reduce .nav-link.show,
.navbar-default.navbar-reduce .nav-link.active {
    color: #000000;
}

.navbar-default.navbar-reduce .navbar-brand {
    color: #000000;
}

.navbar-default .dropdown .dropdown-menu {
    border-top: 0;
    border-left: 4px solid #2eca6a;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: translate3d(0px, -40px, 0px);
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
    margin: 0;
    border-radius: 0;
    padding: 12px 0;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item {
    padding: 12px 18px;
    transition: all 500ms ease;
    min-width: 220px;
    font-size: 14px;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color: #34c3f9;
    transition: all 500ms ease;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item.active {
    background-color: #ffffff;
    color: #2eca6a;
}

.navbar-default .dropdown:hover .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
}


/*------/ Hamburger Navbar /------*/

.navbar-toggler {
    position: relative;
        padding-top: 15px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
        background-color: #0a3f79;
    height: 2px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}


/*======================================
//--//-->   BOX COLAPSE
======================================*/

.box-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1040;
    background-color: #ffffff;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 0.6s ease;
}

.box-collapse .title-box-d {
    top: 30px;
    left: 60px;
    opacity: 0;
    transition: all 1s ease;
    transition-delay: .3s;
}

.box-collapse-wrap {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 6.5rem;
    bottom: 5rem;
    padding-left: 10%;
    padding-right: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    transition: opacity 0.5s 0.5s ease, -webkit-transform 0.5s 0.5s ease;
    transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
    transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease, -webkit-transform 0.5s 0.5s ease;
}

.box-collapse-open .click-closed {
    visibility: visible;
}

.box-collapse-open .box-collapse {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
    opacity: 1;
}

.box-collapse-open .box-collapse .title-box-d {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
}

.box-collapse-open .box-collapse-wrap {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
}

.box-collapse-closed .box-collapse {
    opacity: .7;
    transition-delay: 0s;
}

.box-collapse-closed .box-collapse .title-box-d {
    opacity: 0;
    transition-delay: 0s;
}

.box-collapse-closed .box-collapse .form-a {
    opacity: 0;
    transition-delay: 0s;
}

.click-closed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1035;
    background-color: #000000;
    opacity: .4;
}

.close-box-collapse {
    position: absolute;
    z-index: 1050;
    top: 2rem;
    font-size: 3.5rem;
    line-height: 1;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-boxed {
    right: 4.2857rem;
}

/*======================================
//--//-->   INTRO
======================================*/
/* .owl-carousel .owl-item img{
  width: auto !important;
} */
.intro .owl-theme .owl-dots {
    position: absolute;
    bottom: 70px;
    right: 50px;
}
section.intro.intro-carousel{margin: 0;}
.intro .owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
    border: 0px solid #ffffff;
}

.intro .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #2eca6a;
}

.intro .owl-theme .owl-dots .owl-dot.active span {
    background-color: #2eca6a;
}

.intro .intro-item {
    padding-top: 2rem;
}

.intro .carousel-item-a {
    position: relative;
    height: 80vh;
}

.intro .carousel-item-a.bg-image {
    background-attachment: scroll;
}

.intro .intro-body {
      position: absolute;
    letter-spacing: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.intro .intro-body .price-a {
    color: #ffffff;
    padding: 1rem 1.5rem;
    border: 2px solid #2eca6a;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.030em;
}

.intro .spacial {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    color: #ffffff;
}

.intro .intro-title-top {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    margin-bottom: 1rem;
    font-size: .9rem;
    color: #ffffff;
    letter-spacing: .05em;
}

.intro .intro-title {
    transition-duration: 9s !important;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 90px;
    left: 45%;
}

.intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.intro .intro-subtitle.intro-price {
    padding-top: 1rem;
    font-size: 1.2rem;
}

/*------/ Intro Single /------*/

.intro-single {
    padding: 12rem 0 3rem;
}
.intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2.2rem;
}

.intro-single .breadcrumb-box {
    padding: 1rem 0 0 .5rem;
}

.intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}


/*======================================
//--//-->   FOOTER
======================================*/
.partner {
  background: #fff;
  padding: 70px 0;
  margin: 0;
}
.list-inline {
    margin-bottom: 5px !important;
}
.statistical ul li{list-style-type: none;}
.statistical{
  display: flex;
    align-items: center;
    margin-top: 30px;
}
.partner img{width:150px;}
.partner-list{display: flex;justify-content: space-around;align-items: center;}
.list-inline i{
  color:#2e6199;
}
/* .partner img{width:80%;} */

/*======================================
//--//-->   PROPERTY - CARD-A
======================================*/


/*------/ Property Single /-----*/

.gallery-property {
    margin-bottom: 3rem;
}

.property-price {
    margin: 0 auto;
}

.property-price .card-header-c {
    padding: 0;
}

.summary-list {
    padding-right: 1rem;
    color: #000000;
}

.summary-list .list {
    padding: 0;
    line-height: 2;
}

.summary-list .list span {
    color: #555555;
}

.property-agent .title-agent {
    font-weight: 600;
}

.property-agent ul {
    line-height: 2;
    color: #000000;
}

.property-agent .socials-a {
    text-align: center;
}


/*======================================
//--//-->   NEWS - CARD-B
======================================*/

.card-header-b {
    padding: 1rem;
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}

.card-header-b .category-b {
    font-size: .9rem;
    background-color: #2eca6a;
    padding: .3rem .7rem;
    color: #313131;
    letter-spacing: 0.030em;
    border-radius: 50px;
    text-decoration: none;
}

.card-header-b .title-2 {
    margin-bottom: 0;
    padding: .6rem 0;
    font-size: 1.5rem;
}

.card-header-b .title-2 a {
    color: #ffffff;
    text-decoration: none;
}

.card-header-b .date-b {
    color: #d8d8d8;
    font-size: 1rem;
}


/*------/ News Single /------*/

.post-information {
    padding: 3rem 0;
}

.post-content {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
}

.post-content .post-intro {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 4rem;
    line-height: 1.6;
    color: #000000;
    font-weight: 400;
}

.post-content p {
    margin-bottom: 1.7rem;
}

.post-content .blockquote {
    padding: 1rem 3rem 1.7rem 3rem;
    border-left: 3px solid #2eca6a;
    color: #000000;
}

.post-content .blockquote footer {
    text-align: left;
    padding: 0;
}

.post-footer {
    padding: 3rem 0 4rem;
}

.post-share .socials {
    display: inline-block;
}

.post-share .socials li {
    margin-left: .6rem;
}


/*------/ Comments /------*/

.box-comments .list-comments li {
    padding-bottom: 3.5rem;
}

.box-comments .list-comments .comment-avatar {
    display: table-cell;
    vertical-align: top;
}

.box-comments .list-comments .comment-avatar img {
    width: 80px;
    height: 80px;
}

.box-comments .list-comments .comment-author {
    font-size: 1.3rem;
}

.box-comments .list-comments .comment-details {
    display: table-cell;
    vertical-align: top;
    padding-left: 25px;
}

.box-comments .list-comments .comment-description {
    padding: .8rem 0 .5rem 0;
}

.box-comments .list-comments a {
    color: #000000;
}

.box-comments .list-comments span {
    display: block;
    color: #2B2A2A;
    font-style: italic;
}

.box-comments .comment-children {
    margin-left: 40px;
}


/*======================================
//--//-->   SERVICES - CARD-C
======================================*/

.card-box-c {
    position: relative;
}

.card-header-c {
    padding: 0 1rem 1rem 1rem;
}

.card-body-c {
    padding: .5rem .5rem 0 .5rem;
}

.card-footer-c {
    padding-left: .5rem;
}

.card-box-ico {
    padding: 1rem 3rem 1rem 2.5rem;
    border: 5px solid #2eca6a;
}

.card-box-ico span {
    font-size: 4rem;
    color: #000000;
}

.title-c {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: -40px;
}


/*======================================
//--//-->   AGENTS - CARD-D
======================================*/

.card-box-d .card-overlay-hover {
    transition: all .2s ease-in-out;
    padding: 15px 40px 15px 35px;
}

.card-box-d .title-d {
    transition: .3s ease-in-out;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
}

.card-box-d .content-d {
    opacity: 0;
    transition: .5s ease-in-out;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.card-box-d .info-agents {
    opacity: 0;
    transition: .5s ease-in-out;
}

.card-box-d .card-footer-d {
    transition: .5s ease-in-out;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
}

.card-box-d .list-inline-item:not(:last-child) {
    margin-right: 25px;
}

.card-box-d:hover .card-overlay-hover {
    background-color: #2eca6a;
    opacity: .9;
}

.card-box-d:hover .title-d,
.card-box-d:hover .content-d,
.card-box-d:hover .info-agents,
.card-box-d:hover .card-footer-d {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


/*------/ Agent Single /------*/

.agent-info-box .socials-footer {
    margin-top: 2rem;
}

.agent-info-box .socials-footer li {
    margin-right: 1.5rem;
}


/*======================================
//--//-->   ABOUT
======================================*/

.section-about .title-vertical {
    position: absolute;
    letter-spacing: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 50px;
    text-align: left;
    font-size: 1.8rem;
    width: 300px;
    font-weight: 700;
    text-align: right;
}

.about-img-box {
    padding-left: 1rem;
    position: relative;
}

.sinse-box {
   background: linear-gradient(to left, #42a8f0, #2d5c93);
    position: absolute;
    left: 15px;
    bottom: 10px;
    color: #fff;
}

.sinse-box .sinse-title {
    font-weight: 700;
    letter-spacing: 0.043em;
    font-size: 1rem;
}

.sinse-box .sinse-title span {
    position: absolute;
}

.sinse-box .sinse-title span:after {
    content: ' ';
    width: 35px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -15px;
}

.sinse-box p {
    margin-bottom: 0;
    font-size: .7rem;
}


/*======================================
//--//-->   TESTIMONIALS
======================================*/

.testimonials-box {
    padding: 1rem 0;
}

.testimonials-box .testimonial-avatar {
    width: 80px !important;
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border-radius: 50%;
}

.testimonial-ico {
    text-align: center;
}

.testimonial-ico span {
    font-size: 1.8rem;
    background-color: #2eca6a;
    color: #ffffff;
    padding: .4rem 1rem;
    border-radius: 50px;
}

.testimonial-text {
    font-style: italic;
    margin-top: 25px;
    padding: 1.5rem 1.5rem;
    background-color: #f3f3f3;
    position: relative;
}

.testimonial-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25px;
    width: 0px;
    height: 0px;
    border-top: 15px solid #f3f3f3;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.testimonial-author-box {
    margin-top: 2rem;
}

.testimonial-author {
    margin-left: 1rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.2rem;
    color: #000000;
}


/*======================================
//--//-->   FOOTER
======================================*/

.section-footer {
    padding-top: 60px;
    margin-top: 60px;
    background: #f3f3f3;
}

.section-footer ul {
    line-height: 2;
}

.section-footer .item-list-a i {
    font-size: 18px;
    padding-right: 4px;
    color: #2eca6a;
}

.section-footer .widget-a .w-title-a {
    margin-bottom: 1rem;
}
.footer-top{
      padding-bottom: 100px;
    }
.subscribe_now{
      margin: 15px 0;
}
.subscribe_form input{
      border: 0;
    margin-right: 8px;
    height: 42px;
        font-size: 14px;
    padding-left: 25px;
}
.statistical-left{float: left;}
.fr-letter h4{font-size: 18px;align-items: center;}
.fr-letter img{margin-right: 10px;}
.statistical-left img{margin-right: 5px;}
.statistical-left ul{padding-left:0;}
footer {
    background: #f3f3f3;
   
}
.footer-content{
   padding: 70px 0 0 0;
    background: url("../img/bg03.png")no-repeat top right;

}
footer .copyright-footer {
       padding-top: 20px;
    text-align: center;
    background: #fff;
    font-size: 15px;
    padding-bottom: 10px;
}

footer .credits {
    font-size: 14px;
}
.footer-icon{width: 10px;}
.footer-logo{margin-bottom: 30px;}
.fr-textbox{border-radius: 25px !important;}
.fr-btn-footer{margin-top: 0 !important; color:#fff !important;}
/*======================================
//--//-->   FORM INPUT
======================================*/

.form-a #sendmessage {
    color: #2eca6a;
    border: 1px solid #26a356;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-a #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-a #sendmessage.show,
.form-a #errormessage.show,
.form-a .show {
    display: block;
}

.form-a .validation {
    color: red;
    display: none;
    margin: 4px 0 20px 0;
    font-weight: 400;
    font-size: 13px;
}

.form-a label {
    color: #000000;
    position: relative;
}

.form-a select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
}

.form-a .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

.form-a .form-control.form-control-a {
    height: 3.5rem;
}

.form-a .form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
}


/*======================================
//--//-->   BUTTON
======================================*/

.btn {
    transition: .5s ease;
}
.btn-stroke{
      border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 3px 20px;
}
.btn-stroke:hover, .btn-stroke:active{
  color: #0242be;
    text-decoration: none;
    background: #fff;
}
.red-btn{
    background: #fe0d25;
    border-radius: 30px;
    padding: 10px 35px;
    display: inline-block;
    margin-top: 20px;
  }
.btn-gradient{
  background: linear-gradient(to left, #42a8f0, #2d5c93);
    color: #fff;
    border-radius: 25px;
    text-align: center;
    color: #fff !important;
    padding: 8px 40px;
    display: inline-block;
    margin-top: 20px;
}

.btn-no-border{color:#fff;float: right;margin-top: 20px;}
.btn.btn-b-n:hover {
    background-color: #26a356;
    color: #ffffff;
}

@media (min-width: 576px) {
   
    .intro .intro-subtitle.intro-price {
        font-size: 1.3rem;
    }
    .about-img-box {
        padding-left: 4rem;
    }
    .sinse-box {
        padding: 1.5rem 2.5rem;
        bottom: 20px;
    }
    .sinse-box .sinse-title {
        font-size: 1.3rem;
    }
    .sinse-box p {
        font-size: .8rem;
    }
    .sinse-box p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .link-a {
        font-size: .9rem;
    }
    .link-a span {
        font-size: 1.5rem;
    }
    .navbar-default.navbar-trans .nav-item,
    .navbar-default.navbar-reduce .nav-item {
        margin-left: 15px;
    }
    .navbar-default .dropdown .dropdown-menu {
        border-left: 0;
        display: block;
        position: absolute;
        box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
    }
    .box-collapse {
        width: 50%;
    }
    .intro .owl-theme .owl-dots {
        right: 200px;
    }
 
    .intro .intro-subtitle.intro-price {
        padding-top: 2rem;
        font-size: 1.5rem;
    }
    .intro-single .title-single-box .title-single {
        font-size: 2.1rem;
    }
    .grid .card-box-a,
    .grid .card-box-b,
    .grid .card-box-c,
    .grid .card-box-d {
        margin-bottom: 2.5rem;
    }
    .card-box-a:hover .img-a,
    .card-box-a:hover .img-b,
    .card-box-b:hover .img-a,
    .card-box-b:hover .img-b {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .card-box-a .price-a,
    .card-box-b .price-a {
        font-size: .9rem;
    }
    .card-box-a:hover .card-overlay-a-content {
        bottom: 60px;
    }
    .card-box-a:hover .card-body-a {
        padding-bottom: 1rem;
    }
    .card-overlay-a-content {
        bottom: -20px;
    }
    .card-header-a .card-title-a {
        font-size: 1.3rem;
    }
    .card-info .card-info-title {
        font-size: .9rem;
    }
    .card-info li span {
        font-size: .8rem;
    }
    .card-header-b {
        bottom: 0px;
    }
    .card-header-b .title-2 {
        font-size: 1rem;
    }
    .card-header-b .date-b {
        font-size: .9rem;
    }
    .box-comments .list-comments .comment-author {
        font-size: 1.5rem;
    }
    .title-c {
        font-size: 1.8rem;
    }
    .card-box-d .card-overlay-hover {
        padding: 5px 15px 5px 10px;
    }
    .card-box-d .title-d {
        font-size: 1.1rem;
        margin: .5rem 0;
    }
    .card-box-d .content-d {
        font-size: .8rem;
        margin: .5rem 0;
    }
    .card-box-d .card-body-d p {
        margin-bottom: 8px;
        font-size: .8rem;
    }
    .about-img-box {
        padding-left: 5rem;
    }
    .sinse-box {
        padding: 1.5rem 3rem;
    }
    .sinse-box .sinse-title {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) and (min-width: 768px) {
    .card-box-a:hover .card-overlay-a-content {
        bottom: 60px;
    }
}

@media (min-width: 768px) and (min-width: 992px) {
    .card-box-a:hover .card-overlay-a-content {
        bottom: 64px;
    }
}

@media (min-width: 992px) {
    .link-a {
        font-size: 1rem;
    }
    .link-a span {
        font-size: 18px;
    }
    .list-a li {
        width: 33.333%;
    }
    .intro .intro-title-top {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .intro .intro-subtitle.intro-price {
        padding-top: 3rem;
    }
    .intro-single .title-single-box .title-single {
        font-size: 2.5rem;
    }
    .card-box-a .price-a,
    .card-box-b .price-a {
        font-size: 1rem;
    }
    .card-overlay-a-content {
        bottom: 0px;
    }
    .card-header-a .card-title-a {
        font-size: 2rem;
    }
    .card-info .card-info-title {
        font-size: 1rem;
    }
    .card-info li span {
        font-size: 1rem;
    }
    .card-header-b {
        bottom: 20px;
    }
    .card-header-b .title-2 {
        font-size: 1.6rem;
    }
    .card-header-b .date-b {
        font-size: 1rem;
    }
    .title-c {
        font-size: 2.5rem;
    }
    .card-box-d .card-overlay-hover {
        padding: 5px 40px 5px 35px;
    }
    .card-box-d .title-d {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .card-box-d .card-body-d p {
        margin-bottom: 12px;
        font-size: 1rem;
    }
    .sinse-box {
        padding: 3rem 4.5rem;
    }
    .sinse-box .sinse-title {
        font-size: 2.2rem;
    }
}
@media (min-width: 1300px){
}
@media (min-width: 1200px) {
    .card-box-d .card-overlay-hover {
        padding: 15px 40px 5px 35px;
    }
    .card-box-d .title-d {
        font-size: 2rem;
        margin: 1rem 0;
    }
}
@media (max-width: 1200px) {
    .news-bottom-item{margin-top: 20px;display: block;}
    .news-bottom-item img{
      width: 100%;
          height: 150px;
    width: 250px;      
    object-fit: cover;
      margin-bottom: 15px;
    }
    .news-bottom-info h5 {
      margin-bottom: 20px;
    }
    .schedule-form{
      width: 100%;
      position: relative;
      bottom: 0;
    }
    .fr-form{
      height: 100%;
      padding: 60px 0;
    }

  
}
@media (max-width: 991px) {
  .table-cell{padding-bottom: 0;}
    .property-contact {
        margin-top: 2.5rem;
    }
    .schedule-form{width: 100%;position: relative;bottom: 0;}
    .fr-form{height: 100%;padding: 40px 0;}
    .fr-form{background: #fff;}
     .intro-subtitle.intro-img{display: none;}
    .sm-none{display: none;}
    .main-menu {
      display: block;
      width: 100%;
  }
  .navbar-toggler{float: right}
  .package{height: 30vh;}
  .pack-img{width: 250px;}
  .news .owl-carousel .owl-item img{
    height: 280px;
  }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
    .schedule-form{width: 100%;position: relative;bottom: 0;}
    .fr-form{height: 100%;padding: 40px 0;}
    .fr-txt {
        float: left;
        width: 50%;
    }

   .w50{width: 50%;
    margin-top: 30px;}
    .workflow .fa{display: none;}
}

@media (max-width: 767px) {
  .hotline{display: none;}
  .navbar-toggler{margin-left: auto;}
    .text-brand {
        font-size: 1.8rem;
    }
    .section-t8 {
        padding-top: 4rem;
    }
    .section-t4 {
        padding-top: 2rem;
    }
    .section-md-t3 {
        padding-top: 3rem;
    }
    .section-tb85 {
        padding: 4rem 0 2.5rem 0;
    }
    .intro-single {
        padding-top: 9rem;
    }
    .card-box-a,
    .card-box-b,
    .card-box-c,
    .card-box-d {
        margin-bottom: 2.5rem;
    }
    .card-box-a .card-overlay-a-content {
        bottom: 65px;
    }
    .card-box-a .card-body-a {
        padding-bottom: 1rem;
    }
    .property-agent {
        margin-top: 2.5rem;
    }
    .card-box-c {
        margin-bottom: 2rem;
    }
    .card-body-c {
        padding: 0;
    }
}

@media (max-width: 575px) {
    .box-collapse .title-box-d {
        left: 35px;
    }
    .box-collapse .title-box-d .title-d {
        font-size: 1.3rem;
    }
    .pack-info{position: relative;}
    .pack-img{display: none;}
    .package{text-align: center;}
    .news-bottom-item{display: block;}
}